body{
    background-color: #000;
    
}
.container{
    width: 1460px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 37px;
    margin-bottom: 238px;
}
.header_contact_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 120px;
   
}
.contact-item {
    display: flex;
    align-items: center;
    
}
.tel_link{
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
    color: #fff;
    margin-right: 39px;
}
.accets_color{
    color: #D6AF76;
}

.return_call {
    padding: 10px  25px 10px 49px ;
    color: #E4B564;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    position: relative;
    border: 1px solid #E4B564;
}
.return_call-img {
    position: absolute;
    left: 26px;
    top: 18px;
}

.page-title{
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    color: #FFFFFF;
    margin-bottom: 41px;
}
.pump-text {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
    margin-bottom: 41px;

}
.pump-list {
    width: 1000px;
    display: grid;
    grid-template-columns:2fr 1fr 1 fr 2 fr;
    grid-template-rows:repeat(2, 468px);
    gap: 28px;
    padding-left: 0;
    
    
   
}
.item1 {
    background-color: #634F2C;
}

.item2 {
    grid-column-start: 2;
    grid-column-end: 4;
    background-color: #B4A385;
}
.item3 {
    grid-column-start: 4;
    grid-column-end: 5;
    background-color: #E4B564;;
}
.item4 {
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: #635A4A;
}
.item5 {
    grid-column-start: 3;
    grid-column-end: 5;
    background-color: #B08C4D;
}
.pump-item {
    position: relative;
    
}

.pump-describtion {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    bottom: 0;
    
}
.equipment{
    margin-top: 160px;
    margin-bottom: 190px;
    
}
.equipment .page-title{
    margin-bottom: 94px;
}
.equipment-list{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 38px;
    
    
}
.equipment-link{
    margin-bottom: 33px;
    position: relative;
}
.equipment-text{
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
    position: absolute;
    left: 50px;
    top: 44px;
    width: 302px;    
}
.equipment-text-bold{
    font-weight: 700;
}
.equipment-text-black{
    color:#000;
}






    
    